{% if page.layout == 'post-index' %}

  <div class="entry-meta">
    <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
    {% if site.reading_time %}
    <span class="entry-reading-time">
      <i class="fa fa-clock-o"></i>
      {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
      Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
    </span><!-- /.entry-reading-time -->
    {% endif %}
  </div><!-- /.entry-meta -->

{% elsif page.layout == 'post' %}

  <div class="entry-meta">
    <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
    {% if site.reading_time %}
    <span class="entry-reading-time">
      <i class="fa fa-clock-o"></i>
      {% assign readtime = content | strip_html | number_of_words | divided_by:site.words_per_minute %}
      Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
    </span><!-- /.entry-reading-time -->
    {% endif %}
  </div><!-- /.entry-meta -->

{% endif %}
